<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>480860644954-1jn80ev6fh62c9t0kok3lllfj3nce8e8.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.480860644954-1jn80ev6fh62c9t0kok3lllfj3nce8e8</string>
        <key>API_KEY</key>
        <string>AIzaSyDnIQvZalzNshQxMjeRh2ml8Ck_SqrnH5I</string>
        <key>GCM_SENDER_ID</key>
        <string>480860644954</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.g.jabMix1</string>
        <key>PROJECT_ID</key>
        <string>jabmix-162f2</string>
        <key>STORAGE_BUCKET</key>
        <string>jabmix-162f2.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:480860644954:ios:623c30a0d0f5c963</string>
        <key>DATABASE_URL</key>
        <string>https://jabmix-162f2.firebaseio.com</string>
    </dict>
</plist>
